* {
  box-sizing: border-box;
}

.grid {
  width: 400px;
  height: 400px;
  background-color: yellowgreen;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  font-size: 45px;
  text-align: center;
}
